model:
  class_path: BiEncoderModule
  init_args:
    model_name_or_path: bert-base-uncased
    config:
      class_path: ColConfig
      init_args:
        similarity_function: dot
        query_aggregation_function:  sum
        query_expansion: true
        query_length: 32
        doc_length: 256
        normalize: true
        add_marker_tokens: true
        embedding_dim: 128
        projection: linear_no_bias
    loss_functions:
      - class_path: RankNet
        