name: Linters

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:  {}

jobs:
  ruff:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.9
        uses: actions/setup-python@v6
        with:
          python-version: 3.9
      - name: Install ruff
        run: pip3 install ruff
      - name: Run ruff linter
        working-directory: ${{github.workspace}}
        run: ruff check .
      - name: Run ruff formatter
        working-directory: ${{github.workspace}}
        run: ruff format --check .