name: Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  run-model-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install self
        working-directory: ${{github.workspace}}
        run: |
          pip3 install .[test,dev]
          pip3 cache purge
      - name: Run model tests
        working-directory: ${{github.workspace}}
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        if: ${{matrix.python-version}} == "3.13" # only run once
        run: pytest --remove-hf-models tests
